/*Ruby Friedman
IntroCS pd2 sec02
HW05 Stuylin'
2021-2-18 */

body {  background-color: white; /* changes the body of the website, including the background color, and organization of the website */
	font-family: fantasy;
	border: 2px dotted blue;
	padding: 40px;
	border-width: medium;}

h1 {    font-size: 40px;        /* changes the heading title */
	font-family: sans-serif;
	color: DarkCyan;
	text-align:center;}

h2 {    color: DarkCyan;        /* changes the font and color of all text that is set to h2 */
	font-family: system-ui;
	font-size: 25px;
	font-style: oblique;}

p {     color: DodgerBlue;      /* changes the color and font of all text set to paragraph */
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-stretch: expanded;
	background-color: white;}

li {    font-style: italic;     /* changes the table of contents color and font */
	color: CornflowerBlue;
	font-weight: bold;}

h3 {    color: DarkCyan;}       /* changes the color of all text set to h3 */
