/*Ruby Friedman
IntroCS pd2 sec02
HW05 Stuylin'
2021-2-18 */
/* changes the whole body of the website, including the background color, etc. */
body {
	background-color: white;
	font-family: fantasy;
	border: 2px dotted blue;
	padding: 40px;
	border-width: medium;
}

/* changes the heading title only */
h1 {
	font-size: 40px;
	font-family: sans-serif;
	color: DarkCyan;
	text-align:center;
}

/* changes the font and color of the subheadings from the TOC */
h2 {
	color: DarkCyan;
	font-family: system-ui;
	font-size: 25px;
	font-style: oblique 50deg;
}

/* changes the color and font of paragraph content */
p {
	color: DodgerBlue;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-stretch: expanded;
	background-color: "#FFDAF7";
	
}

/* changes how the TOC looks like */
li {
	font-style: italic;
	color: CornflowerBlue;
	font-weight: bold;
}

/* changes color of TOC text */
h1 {
	color: CornflowerBlue;
}

/* changes color of Thinker text */
h3 {
	color: DarkCyan;
}
